body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.left {
  width: 100%;
  /* Adjust the width as needed */
  height: auto;
  /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  width: 100%;
  /* Adjust the width as needed */
  height: auto;
  /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 80%;
  margin: 0 auto; /* Center the card horizontally */
  padding: 5rem;
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
    flex-direction: column;
  }

  .card {
    padding: 5rem;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  textarea {
    cols: 20; /* Adjust the number of columns as needed for small screens */
    width: 100%; /* Make the textarea fill the available width */
  }
}