  .button_element{
    width: 100%;
  }

  .container {
    width: 100%;
    
    background-color: var(--text-primary );
    color: var(--background-primary);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container__row{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .right {
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .left {
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .form>input,
  textarea,
  button {
    margin-top: 0.5 rem;
  }

  .card_manage_class {
    padding: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .update_delete > button {
    margin-right: 1 rem;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
      flex-direction: column;
    }

    .left{
      display: none;
    }
  }