<div class="container">
    <div class="left">
        <img src="../../../../assets/svg/admin.svg" alt="">
    </div>
    <div class="right">
        <h1>Admin Panel</h1>
        <button class="button_element" (click)="send('manage-classes')">Manage Classes</button>
        <button class="button_element" (click)="send('manage-results')">Manage Results</button>
        <button class="button_element" (click)="send('manage-users')">Manage Users</button>
        <button class="button_element" (click)="send('manage-messages')">See Contact Messages</button>
    </div>
</div>