<div class="container">
    <div class="container__row">
        <div class="left">
            <img src="../../assets/svg/admin.svg" alt="">
        </div>
        <div class="right">
            <h2>Theme:</h2>
            <select *ngIf="options.length > 0" class="settings-select" [(ngModel)]="chosenValue"
                (ngModelChange)="trocarCor($event)">
                <option *ngFor="let option of options" [value]="option.id">{{ option.label }}</option>
            </select>
        </div>
    </div>
</div>