  .container {
    width: 100%;
    background-color: var(--text-primary);
    color: var(--background-primary);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container__row{
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  
  .right {
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .left {
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

    
  @media only screen and (max-width: 600px) {
    .left{
      display: none;
    }
    .container{
      height: 100vh;
    }
  }
  
