<div class="container">
    <div class="left">
        <img src="../../assets/svg/volunteer.svg" alt="">
    </div>
    <div class="right">
        <h1>Volunteer Form:</h1>
        <form action="" class="form" [formGroup]="volunteerForm">
            <div *ngIf="this.currentCard === 1" class="card">
                <h3>Personal Data</h3>
                <label>Step 1 of 8</label>
                <input formControlName="firstName" type="text" placeholder="First Name">
                <input formControlName="lastName" type="text" placeholder="Last Name">
                <input formControlName="parentFirstName" type="text" placeholder="Parent's First Name">
                <input formControlName="parentLastName" type="text" placeholder="Parent's Last Name">
                <button (click)="CurrentCard('+')">Next</button>
            </div>

            <div *ngIf="this.currentCard === 2" class="card">
                <h3>Personal Data</h3>
                <label>Step 2 of 8</label>
                <input formControlName="email" type="email" placeholder="Your Email">
                <input formControlName="phone" type="phone" placeholder="Your Phone (with area code)">
                <input formControlName="birthDate" type="date" placeholder="Birth Date">
                <button (click)="CurrentCard('-')">Return</button>
                <button (click)="CurrentCard('+')">Next</button>
            </div>
            

            <div *ngIf="this.currentCard === 3" class="card">
                <h3>Education Data</h3>
                <label>Step 3 of 8</label>
                <input formControlName="educationLevel" type="text" placeholder="Education Level">
                <input formControlName="schoolName" type="text" placeholder="School Name">
                <button (click)="CurrentCard('-')">Return</button>
                <button (click)="CurrentCard('+')">Next</button>
            </div>

            <div *ngIf="this.currentCard === 4" class="card">
                <h3>Emergency Data</h3>
                <label>Step 4 of 8</label>
                <input formControlName="emergencyContactName" type="text" placeholder="Emergency Name">
                <input formControlName="emergencyContactPhone" type="text" placeholder="Emergency Phone Number">
                <input formControlName="emergencyRelationship" type="text" placeholder="Your Relationship with Emergy Person">
                <button (click)="CurrentCard('-')">Return</button>
                <button (click)="CurrentCard('+')">Next</button>
            </div>

            <div *ngIf="this.currentCard === 5" class="card">
                <h3>Aditional Information</h3>
                <label>Step 5 of 8</label>

                <h3>Why do you wish to be a volunteer in this program.</h3>
                <textarea formControlName="whyDoUWantTOBeAVolunteer" name="" id="" cols="30" rows="5" placeholder="message"></textarea>

                <button (click)="CurrentCard('-')">Return</button>
                <button (click)="CurrentCard('+')">Next</button>
            </div>

            <div *ngIf="this.currentCard === 6" class="card">
                <h3>Aditional Information</h3>
                <label>Step 6 of 8</label>
                <h3>Please state your other volunteering experiences.</h3>
                <textarea formControlName="volunteerExperiences" name="" id="" cols="30" rows="5" placeholder="message"></textarea>
                <button (click)="CurrentCard('-')">Return</button>
                <button (click)="CurrentCard('+')">Next</button>
            </div>

            <div *ngIf="this.currentCard === 7" class="card">
                <h3>Aditional Information</h3>
                <label>Step 7 of 8</label>
                <h3>What are your interests or skills we should know about?</h3>
                <textarea formControlName="interestsAndSkills" name="" id="" cols="30" rows="5" placeholder="message"></textarea>
                <button (click)="CurrentCard('-')">Return</button>
                <button (click)="CurrentCard('+')">Next</button>
            </div>

            <div *ngIf="this.currentCard === 8" class="card">
                <h3>Valid Information</h3>
                <label class="error" *ngIf="this.invalidForm">Please fill all the blanks of this form</label>
                <label>The information provided here is valid</label>
                <input formControlName="isValid" type="checkbox">
                <button (click)="CurrentCard('-')">Return</button>
                <button (click)="send()">Send</button>
            </div>
        </form>
    </div>

</div>