@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.css";

:root{
    --background-primary:#0e0e0e;
    --background-secundary:#1e1e1e;
    --text-primary:#f3f4f4;
    --details-primary:#df072e;
    --details-secondary: #FFA500;
    --details-third: #008000;
}

/* global error style */

.error{
    color: var(--details-primary);
}

/* global input style */

.card input[type="email"],
.card input[type="phone"],
.card input[type="date"],
.card input[type="text"] {
  width: 100%;
}

input,
select,
textarea {
  margin-top: 0.2rem;
  border-style: solid;
  border-radius: 1rem;
  font-size: larger;
  padding: 1rem;
  font-weight: 500;
  width: 100%;
}

button {
  border-radius: 1rem;
  font-size: larger;
  margin-top: 0.4rem;
  padding: 1rem;
  font-weight: 500;
  padding: 1rem;
  border: none;
  width: 10rem;
  color: var(--text-primary);
  background-color: var(--details-third);
}

button:hover{
  opacity:0.5 ;
}

input:hover {
  border-color: var(--details-third);
}

.buttons{
  display: flex;
}

.buttons > button {
  margin-right: 1rem;
}

.action__button{
  margin-right: 1rem;
}

.action__button:nth-child(1) {
  background-color: var(--details-secondary);
}

.action__button:nth-child(2) {
  background-color: var(--details-primary);
}

/* global form configuration */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .form>input,
  textarea,
  button {
    margin-top: 0.5 rem;
  }

  /* global card */ 
  .card {
    width: 80%;
    margin: 0 auto;
    padding: 5rem;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }