<section class="hero">
  <div class="hero-content">
    <h1>{{this.animatedText}}</h1>
    <p>Welcome to our Tanzanian School website, where we are dedicated to offering a comprehensive and enriching
      educational experience. Our commitment to excellence ensures that we provide the highest quality education to our
      students. Through a combination of academic rigor and a nurturing environment, we aim to foster the growth and
      development of every student.</p>
    <button class="hero-button">Donate to the School</button>
  </div>
</section>

<div class="session">
  <section class="left">
      <img src="../../assets/svg/home.svg" alt="Home School image">
  </section>

  <section class="right">
      <h1>Our values</h1>
      <h3>Vision:</h3>
      <p>
        Lifelong Learning
      </p>
      <h3>Mission:</h3>
      <p>
        To provide all students with opportunity to optimize their education experience in order to acheive their
        academic, social, creative and physical potential, there by enabling them to become positive contribuitors to society.
      </p>
  </section>
</div>